.u-section-1 .u-sheet-1 {
  min-height: 821px;
}

.u-section-1 .u-text-1 {
  font-size: 12.5rem;
  font-weight: 700;
  font-family: Bungee;
  margin: 171px auto 0;
}

.u-section-1 .u-list-1 {
  margin-top: 120px;
  margin-bottom: 171px;
}

.u-section-1 .u-repeater-1 {
  grid-template-columns: 25% 25% 25% 25%;
  grid-gap: 0px 0px;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px 15px;
}

.u-section-1 .u-text-2 {
  font-size: 1.875rem;
  line-height: 1;
  text-transform: uppercase;
  font-weight: 700;
  font-family: Oswald, sans-serif;
  margin: 0 auto;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  border-style: none;
  text-transform: uppercase;
  font-size: 1rem;
  letter-spacing: 4px;
  font-weight: 700;
  padding-left: 52px;
  padding-right: 52px;
  margin: 46px auto 0;
}

.u-section-1 .u-container-layout-2 {
  padding: 30px 15px;
}

.u-section-1 .u-text-3 {
  font-size: 1.875rem;
  line-height: 1;
  text-transform: uppercase;
  font-weight: 700;
  font-family: Oswald, sans-serif;
  margin: 0 auto;
}

.u-section-1 .u-btn-2 {
  background-image: none;
  border-style: none;
  text-transform: uppercase;
  font-size: 1rem;
  letter-spacing: 4px;
  font-weight: 700;
  padding-left: 52px;
  padding-right: 52px;
  margin: 46px auto 0;
}

.u-section-1 .u-container-layout-3 {
  padding: 30px 15px;
}

.u-section-1 .u-text-4 {
  font-size: 1.875rem;
  line-height: 1;
  text-transform: uppercase;
  font-weight: 700;
  font-family: Oswald, sans-serif;
  margin: 0 auto;
}

.u-section-1 .u-btn-3 {
  background-image: none;
  border-style: none;
  text-transform: uppercase;
  font-size: 1rem;
  letter-spacing: 4px;
  font-weight: 700;
  padding-left: 52px;
  padding-right: 52px;
  margin: 46px auto 0;
}

.u-section-1 .u-container-layout-4 {
  padding: 30px 15px;
}

.u-section-1 .u-text-5 {
  font-size: 1.875rem;
  line-height: 1;
  text-transform: uppercase;
  font-weight: 700;
  font-family: Oswald, sans-serif;
  margin: 0 auto;
}

.u-section-1 .u-btn-4 {
  background-image: none;
  border-style: none;
  text-transform: uppercase;
  font-size: 1rem;
  letter-spacing: 4px;
  font-weight: 700;
  padding-left: 52px;
  padding-right: 52px;
  margin: 46px auto 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 943px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
  }

  .u-section-1 .u-repeater-1 {
    min-height: 292px;
    grid-template-columns: 50% 50%;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1104px;
  }

  .u-section-1 .u-text-1 {
    font-weight: normal;
  }

  .u-section-1 .u-list-1 {
    margin-bottom: 161px;
  }

  .u-section-1 .u-text-2 {
    font-family: Bungee;
    width: auto;
  }

  .u-section-1 .u-text-3 {
    font-family: Bungee;
    width: auto;
  }

  .u-section-1 .u-text-4 {
    font-family: Bungee;
    width: auto;
  }

  .u-section-1 .u-text-5 {
    font-family: Bungee;
    width: auto;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1235px;
  }

  .u-section-1 .u-text-1 {
    font-size: 9.375rem;
  }

  .u-section-1 .u-list-1 {
    margin-bottom: 171px;
  }

  .u-section-1 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1049px;
  }

  .u-section-1 .u-text-1 {
    font-size: 5.875rem;
  }
}